<h1>Hi <%= name %></h1>

<!-- <h2> Are you happy right now? </h2>
<h2> Are you feeling sad?</h2>
<h2> Are you afraid of something?</h2>
<h2> Do you feel any anger right now?</h2>
<h2> Are you doubting yourself?</h2>
<h2> Are you feeling depressed?</h2>
<h2> Do you feel lost?</h2> -->

<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>