<link rel="stylesheet" type="text/css" href="/css/styles.css">

<div class="register__div">

  <div class="register__section__one">
    <img class="img__display" src="https://images.unsplash.com/photo-1617440168942-e4355a82b7fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="" srcset="">
   
    </div>
<div class="register__section__two">

<h1>Register</h1>
<form action="/register" method="POST">
  <div>
    <input type="text" id="name" name="name" placeholder="Enter your name" required>
  </div>
  <div>
    <input type="email" id="email" name="email" placeholder="Enter your email" required>
  </div>
  <div>
    <input type="password" id="password" name="password" placeholder="Enter your password" required>
  </div>
  <button type="submit">Register</button>
</form>
<a href="/login">Login</a>
</div>
</div>